@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700;800&family=Roboto:wght@400;700&display=swap');

/* Custom Global Styles */
body {
  @apply bg-gray-50 text-gray-900 font-body;
}
